#!/usr/bin/env bash

# Easier navigation
alias ..="cd .."
alias -- -="cd -"

alias oo="open ."
alias gitk="gitx"
alias pwdc="pwd | c"

alias hosts="$EDITOR /etc/hosts"

# Always use color output for `ls` and display additional info for entries
# (slashes for directories, @ for symlinks, etc.)
alias ls="ls -GF"

# Enable aliases to be sudo’ed
alias sudo='sudo '

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0 || ipconfig getifaddr en1"

# Trim new lines and copy to clipboard
alias c="tr -d '\n' | pbcopy"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"

# Pretty print JSON
alias prettyjson='python -m json.tool'
