# Make Sublime Text the default editor
export EDITOR="subl"
# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"
# Highlight section titles in manual pages
export LESS_TERMCAP_md=$'\E[01m'

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
# No duplicates in history
export HISTCONTROL=ignoredups
# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help:* --version"

# Tell grep to highlight matches
export GREP_COLOR='1;31'
# Always enable colored `grep` output
export GREP_OPTIONS="--color=auto"
