#!/usr/bin/env bash

# Make Sublime Text the default editor
export EDITOR="subl"
# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"
# Highlight section titles in manual pages
export LESS_TERMCAP_md=$'\E[01m'

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
# No duplicates in history
export HISTCONTROL=ignoredups
# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:clear:date:* --help:* --version"

# Prefer US English and use UTF-8
export LC_ALL="en_US.UTF-8"
export LANG="en_US"

# Tell grep to highlight matches
export GREP_COLOR='1;31'
# Always enable colored `grep` output
export GREP_OPTIONS="--color=auto"

# Don’t run auto update for Homebrew
export HOMEBREW_NO_AUTO_UPDATE="1"

# Avoid issues with `gpg` as installed via Homebrew.
# https://stackoverflow.com/a/42265848/96656
export GPG_TTY=$(tty);

# Suppress zsh verbose message on macOS Catalina
export BASH_SILENCE_DEPRECATION_WARNING=1
