#!/usr/bin/env bash

# Create a new directory and enter it
function mkd() {
	mkdir -p "$@" && cd "$@" || exit
}

# `s` with no arguments opens the current directory in Sublime Text, otherwise
# opens the given location
function s() {
	if [ $# -eq 0 ]; then
		subl .;
	else
		subl "$@";
	fi;
}

# Add Node and npm via nvm to current shell
function nn {
	export NVM_SYMLINK_CURRENT=true
	export NVM_DIR="$HOME/.nvm"
	source "$(brew --prefix nvm)/nvm.sh"
	node -v
	npm -v
}

# Get list of Browserstack projects
function browserstack-projects {
	curl -u "${BROWSER_STACK_USERNAME}:${BROWSER_STACK_ACCESS_KEY}" "https://api.browserstack.com/automate/projects.json" | prettyjson | grep -i -C 10 "$1"
}

# Get Browserstack project badge key
function browserstack-project-badge-key {
	curl -u "${BROWSER_STACK_USERNAME}:${BROWSER_STACK_ACCESS_KEY}" "https://api.browserstack.com/automate/projects/$1/badge_key"
}

# Get cheatsheet for CLI command
function cheat {
	curl cht.sh/"$1"?style=algol_nu
}

# Sort command history, most recent on bottom, remove unecessary statements, trim whitespace
# and remove duplicate entries, then fuzzy-search through list, copy selected command
# to clipboard and paste to Terminal
function fh {
	history | sort -nr | sort -uk2 | sort -n | sed 's/ *[0-9]* *//' | awk '{$1=$1;print}' | awk '!a[$0]++' | fzf | c && osascript -e 'tell application "System Events" to keystroke "v" using command down'
}

# Open npm package in jsDelivr
function npmjsdelivr {
	open "https://www.jsdelivr.com/package/npm/$1"
}

# cd's to frontmost window of Finder
function cdf {
	cd "$(osascript -e 'tell application "Finder"' -e 'set myname to POSIX path of (target of window 1 as alias)' -e 'end tell' 2>/dev/null)" || exit
}

# Open file with default editor
function fe {
	local file;
	file=$(find . | sed -E "s/^\.\///" | fzf);
	if [[ $file != '' ]]; then
		s "$file";
	fi
}

# Get local IP address
function localip {
	INTERFACE=$(route -n get 0.0.0.0 2>/dev/null | awk '/interface: / {print $2}');
	ipconfig getifaddr "$INTERFACE"
}

# Get VPN IP address
function vpnip {
	ifconfig -a | grep -C 1 utun | grep inet | grep "\-\->" | awk '{print $2}'
}

# Get public IP address
function publicip {
	dig @resolver4.opendns.com myip.opendns.com +short
}

# Get gzipped and minified size of ES module
function module-size {
	npx rollup-plugin-node-resolve 2>/dev/null
	npx rollup --input "$1" --format es --plugin rollup-plugin-node-resolve | npx terser --comments false --compress --mangle --module | npx gzip-size-cli
}

# Change shell to Bash
function change-shell-to-bash {
	chsh -s /bin/bash
	echo "Active shell is $SHELL"
}

# Use Docker ImageMagick
function dimagemagick {
	ENTRYPOINT=$1;
	shift;
	docker run --entrypoint="$ENTRYPOINT" --rm -v "$PWD":/app --workdir=/app dpokidov/imagemagick "$@"
}

# Use Docker youtube-dl
function dyoutube-dl {
	docker run --rm -v "$PWD":/workdir --workdir=/workdir mikenye/youtube-dl "$@"
}

# Use Docker Handbrake CLI
function dhandbrake {
	docker run --rm -v "$PWD":/tmp --workdir=/tmp carolynvs/handbrakecli "$@"
}

# Start mock HTTP server
function dhttpbin {
	docker run -p "${1:-9999}":80 kennethreitz/httpbin
}

# Open latest coverage report in browser
function opencov {
	open "coverage/$(ls -1t coverage/ | head -n 1 | grep "/")/index.html"
}
